@import url('//fonts.googleapis.com/css?family=Raleway&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.rounds {
    font-size: 54px;
    font-weight: bold;
}

.rounds span {
    font-size: 200px;
}

.time span {
    font-size: 54px;
    font-weight: bold;
}


button {
    background-color: #F9F9F9;
    border: 1px solid black;
    font-size: 16px;
    padding: 22px;
    margin: 8px;
}

button.bigger {
    font-size: 144px;
    font-weight: bold;
    line-height: 50px;
}
